<div class="innerContainer">

  <div class="dateRange">
    <md-input-container>
      <label>Workout Date</label>
      <md-select ng-model="date" ng-change="queryDate(date)">
        <md-option ng-repeat="d in dates" value="{{ d.iso }}">{{d.pretty}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div class="tableData" ng-show="sortedEntries">
    <section class="row row-top">
      <div class="col col-main-title">Excercise</div>
      <div class="col">
        <h6>Set 1</h6>
        <span>Weight</span><span>Reps</span>
      </div>
      <div class="col">
        <h6>Set 2</h6>
        <span>Weight</span><span>Reps</span>
      </div>
      <div class="col">
        <h6>Set 3</h6>
        <span>Weight</span><span>Reps</span>
      </div>
      <div class="col">
        <h6>Set 4</h6>
        <span>Weight</span><span>Reps</span>
      </div>
    </section>
    <section class="row row-data" ng-repeat="group in sortedEntries | orderBy: 'group[0].excercise.order'">
      <div class="col col-title">{{ group[0].excercise.name }}</div>
      <div class="col" ng-repeat="entry in group">
        <span>{{ entry.weight || 'N/A' }} <b ng-show="entry.weight">lbs</b></span>
        <span>{{ entry.reps || 'N/A' }}</span>
      </div>
    </section>
  </div>

</div>
